.matchContainer {
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-size: fill;
  background-position: top;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.formContainer {
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 2rem;
  padding-top: 5rem;
}

.introduction {
  width: 24%;
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.matchButton {
  display: flex;
  flex-direction: column;
}
input {
  width: 300px;
  height: 63px;
  background-color: #ffffff;
  border-radius: 30px;
  color: #b2322f;
  font-family: "Cherry";
  padding-left: 2rem;
  border: none;
  margin-top: 0.5rem;
  font-size: 2rem;
}
.inputRow {
  display: flex;
  flex-direction: row;
}
