.btn {
  height: 4rem;
  width: 19rem;
  margin-top: 3rem;
  background-color: #b2322f;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: Cherry;
  transition: 0.2s ease;
  cursor: pointer;
  display: block;
}

.btn:hover {
  background-color: #ac1d1b;
}
