@font-face {
  font-family: "Cherry";
  src: local("Cherry"), local("Cherry"),
    url("../src/assets/fonts/Cherry.woff") format("woff");
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Cherry";
  background-color: #e19689;
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
